*{
    margin: 0;
    top: 0;
    background-color: rgb(53, 51, 51);
    color: #fff;
    scroll-behavior: smooth;
}



.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid black;
    position: sticky;
    z-index: 1000;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-left>img{
    border-radius: 50%;
}

.nav-right{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

.nav-right > a{
    text-decoration: none;
}
.nav-right > a:hover {
    color: #ccc;
}

@media screen and (min-width:992px) {
    .navbar{
        display: flex;
    }
    .nav-right{
        padding-top: 0;
    }
}

.about{
    justify-content: center;
    align-items: center;
}
.about-left{
    display: flex;
    justify-content: center;
}
.about-right{
    padding: 2rem 0;
    line-height: 1.5rem;
    text-align: center;

}
.about-right > .about-description{
    padding-top: 1.5rem;
}

@media screen and (min-width:992px) {
    .about{
        display: flex;
        gap: 5rem;
    }
    .about-left,.about-right{
        justify-content: center;
    }
    .about-right{
        max-width: 50rem;
    }
}

.container{
    margin-top: 3rem;
}

.title{
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 3rem;
    font-weight: 800;
    font-size:xx-large;
}
.r-left {
    display: flex;
    justify-content: center; 
    align-items: center;      
    text-align: center;
    padding: 1rem;            
}

.r-right{
    padding: 1rem
}
.r-right > h3 {
    /* text-align: center; */
    padding-top: 2rem;
    
}
.line{
    background-color: #d2e712;
    width: 100px;
    height: 2px;
    margin: .25rem 0 2rem 0;
}
.inner-line{
    background-color: #25c1dd;
    width: 25px;
    height: 2px;
}

.r-sub_container{
    justify-content: center;
    padding: 0 2rem;
}
.r-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    align-items: center;
    border-left: 1px solid #d2e712;
}

.r-duration-container{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    padding-left: 2rem;
}
.round-div{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #d2e712;
    background-color: #d2e712;
    position: absolute;
    left: -13px;
    top: 25px;
}
.r-duration{
    background-color: black;
    width: auto;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    text-align: center;
}



@media screen and (min-width:992px) {
    .r-sub_container{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
    }
}

.certificates-sub-container{
    display: grid;
    grid-template-columns: repeat(1,minmax(0, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    padding: 2rem;
}
.certification-list{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border: 2px solid #d2e712;
    border-radius: 0.375rem;
    transition: transform 0.3s ease;
}

.certification-list:hover{
    transform: translateY(-0.5rem);
}

.certificate-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #444;
    height: 3rem;
}

.certificate-name{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.certificate-org,
.certificate-date,
.certificate-link{
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
    margin: 8px 0;
}

.certificate-link{
    text-decoration: none;
}

.certificate-link:hover{
    text-decoration: underline;
}

.certificates-view-all{
    text-decoration: none;
}

.certificate-link-container > .certificate-link:hover
{
    text-decoration: none;
}
.certificate-btn{
    padding: 1rem;
    background-color: #333;
    border: 2px solid ;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 2rem 10rem;
    display: block;
    text-decoration: none;
    padding: 15px;
}


.certificates-container,
.subtitle{
    text-align: center;
    margin-top: 3rem;
}


.subtitle-container > .subtitle,
.subtitle-container > .line{
    text-align: center;
    display: block;
    margin: 0 auto;
}


@media screen and (min-width:992px) {
    .certificates-sub-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(0, 1fr));
        margin: 0 10rem;
    }
    
}

.skills-sub-container{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    padding: 0 2rem;
}

.skills-progress-container{
    margin: 1rem 0;
}

.skills-progress{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill{
    font-size: 14px;
}

.percentage{
    color: #888;
    font-size: 12px;
}

.progress{
    height: 0.5rem;
    width: 100%;
    border: 1px solid #333;
    border-radius: 0.5rem;
    accent-color: #444;
}



.progress::-webkit-progress-value{
    background-color: rgb(59 130 240);
    border-radius: 5px;
}

@media screen and (min-width:992px) {
    .skills-sub-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 10rem;
    }
}

.project-container {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 2rem; 
    margin: 5rem auto; 
    padding: 0 1rem; 
    justify-items: center;
}

@media (min-width: 992px) {
    .project-container {
        max-width: 1200px; 
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
        margin: 5rem auto; 
    }
}

.project-list {
    margin-top: 2rem; 
    border: 1px solid #25c1dd; 
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-list:hover {
    transform: translateY(-5px);
}

.project-img {
    height: 10rem;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-top-right-radius: 1rem;
}

.project-details {
    padding: 2rem;
}

.project-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}



.contact-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
}

.contact-info-container a,
.contact-info-container p,
.contact-info-container h2 {
    text-align: left; 
    font-size: 18px;
    text-decoration: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.input-field {
    background-color: transparent;
    border: 2px solid #555;
    border-radius: 2px;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.contact-btn {
    cursor: pointer;
    background-color: #3b82f6;
    padding: 0.5rem 1rem;
    border: 2px solid #3b82f6;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    display: block;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .contact-info-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 80%;
    }
}




.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0.75rem;
    border-top: 2px solid #333;
    margin-top: 1rem;
}

.footer-line{
    color: #fff;
    margin: 0;
    margin-left: 1rem;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
}

.footer-left > a{
    text-decoration: none;
}